<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Git Community Book</title>
	<meta http-equiv="content-language" content="en">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="assets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="assets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="assets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="assets/javascripts/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.corner.js"></script>
</head>

<body>
<div class="container showgrids">

  <div class="span-21 header">
    <a href="/"><img alt="Git Community Book" src="assets/images/header-book.gif"></a>
  </div>

  <div class="span-21 navbar">
    <div id="toc">
      <ul class="a-documentation">
      	<li id="m-index"><a href="http://git-scm.com/">Home</a></li>
      	<li id="m-about"><a href="http://git-scm.com/about">About Git</a></li>
      	<li id="m-documentation"><a href="http://git-scm.com/documentation">Documentation</a></li>
      	<li id="m-download"><a href="http://git-scm.com/download">Download</a></li>
      	<li id="m-tools"><a href="http://git-scm.com/tools">Related Tools</a></li>
      	<li id="m-wiki"><a href="http://git.or.cz/gitwiki">Wiki</a></li>
      </ul>
    </div>
  </div>
  
  <div class="span-21">
    <br/>
  </div>
  
  <div class="span-10">
    <div id="book-intro">
      <h3>The Git Community Book</h3>
      <p>
		Bienvenue sur le Git Community Book.
		Ce livre a &eacute;t&eacute; construit gr&acirc;ce &agrave; l&#x27;aide
		de douzaines de participants de la communaut&eacute; Git, et a pour but
		de vous aider &agrave; apprendre l&#x27;utilisation de Git aussi 
		rapidement et simplement que possible.
      </p>
      <p>
		Si vous trouvez quelque chose qui n&#x27;est plus &agrave; jour, ou avez une suggestion
		pour l&#x27;am&eacute;liorer, ou aimeriez participer &agrave; l&#x27;&eacute;laboration du livre,
		renseignez-vous sur la page <a href="http://github.com/schacon/gitbook/wikis/how-to-contribute">How to Contribute</a>,
		ou envoyer un mail à <a href="mailto:schacon@gmail.com">notre mainteneur</a>.
    </div>
  </div>

  
  <div class="span-5">
	  <div id="download">
			<h3>T&eacute;l&eacute;charger</h3>			
			<div class="inner">
				Cliquez <a href="book_fr.pdf">ici</a> pour t&eacute;l&eacute;charger la 
				version actuelle de ce livre au format PDF.
    		<hr/>
			  <a href="book_fr.pdf"><img height="50" border="0" src="assets/images/pdf.png"/></a>
			</div>
    </div>
  </div>

  <div class="span-6 last">
    <div id="new-to-git">
      <h3>D&eacute;butant sur Git?</h3>
      <div class="inner">
		<p>Si vous voulez vraiment comprendre Git,
		vous pouvez commencer par <a href='1_bienvenue_sur_git.html'>le d&eacute;but</a>.</p>
        <p>
		Si vous souhaitez plonger directement dans Git, vous pouvez passer directement &agrave; 
		<a href='2_configuration_et_initialisation.html'>l'installation</a>.</p>
      </div>
    </div>
  </div>

  <div class="span-21">
    #body
  </div>
  
  <div class="span-17 footer">
  	<div class="menu">
		Ce livre est maintenu par Scott Chacon, et la version fran&ccedil;aise par Alexandre Girard.
		<br>
		Merci d'envoyer un mail &agrave; <a href="mailto:schacon@gmail.com">schacon@gmail.com</a>
		et &agrave; <a href="mailto:alx.girard@gmail.com">alx.girard@gmail.com</a>
		avec vos patch, suggestions ou commentaires.
	  </div>
  </div>
  <div class="span-4 last center">
    <a href="http://github.com"><img src="assets/images/github.png" alt="github logo"></a>
  </div>
  
</div>

<script type="text/javascript">
  $(function() {
    $('#book-intro').corner();
    $('#new-to-git').corner();
    $('#download').corner();
    $('.footer').corner();
  });
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-56877-10");
pageTracker._trackPageview();
} catch(err) {}</script>

<script src="http://static.getclicky.com/40584.js" type="text/javascript"></script>
<noscript><p><img alt="Clicky" src="http://in.getclicky.com/40584-db6.gif" /></p></noscript>

</body>
</html>
